@use 'utils/mixins' as *;

.sys-header {
    border-bottom: 1px solid var(--kay-sys-color-outline-variant);
    user-select: none;
    padding: 22px 0;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1376px;
        margin: auto;

        &-brand {
            font-weight: 700;
        }

        &-nav {
            display: flex;
            gap: 24px;

            &-menu {
                display: flex;
                gap: 24px;
                align-items: center;
            }

            &-social-area {
                padding: 0;
                margin: 0;
                gap: 24px;
                display: flex;

                li {
                    list-style: none;
                }
            }
        }

        @include responsive-device('mobile') {

        }
    }

}
