<div>
    <span></span>
    <nav>
        <kay-nav-category name="Guide"
                          [itens]="[
                              {name: 'Introdução', routerTo: ''},
                              {name: 'Instalação', routerTo: ''}
                          ]">
        </kay-nav-category>
        <kay-nav-category name="Guide"
                          [itens]="[
                              {name: 'Instalação Tutorial', routerTo: ''},
                              {name: 'Instalação', routerTo: ''}
                          ]">
        </kay-nav-category>
    </nav>
</div>
