@use 'utils/mixins' as *;

.sys-header {
    border-bottom: 1px solid var(--kay-sys-color-outline-variant);
    user-select: none;
    padding: 20px;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1376px;
        margin: auto;

        &-brand {
            font-weight: 700;
        }

        &-menu {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 0;
        }

        @include responsive-device('desktop') {

        }
    }

}
