<div class="sys-header">
    <span class="sys-header-brand">Kayro UI</span>
    <nav class="sys-header-nav">
        <div class="sys-header-nav-menu">
            <kay-nav-category title="Guide">
                <a routerLink="" kay-nav-category-item>Introdução</a>
                <a routerLink="" kay-nav-category-item>Instalação</a>
            </kay-nav-category>
            <kay-nav-category title="Componentes">
                <a routerLink="" kay-nav-category-item>Botões Animados</a>
                <a routerLink="" kay-nav-category-item>Cards Responsívos</a>
                <a routerLink="" kay-nav-category-item>Links Dinâmicos</a>
                <a routerLink="" kay-nav-category-item>Grid</a>
                <a routerLink="" kay-nav-category-item>Cards Animados</a>
                <a routerLink="" kay-nav-category-item>Títulos</a>
            </kay-nav-category>
            <kay-nav-category title="Showcase">
                <a routerLink="" kay-nav-category-item>Início</a>
            </kay-nav-category>
            <kay-nav-category title="v1.0.0">
                <a routerLink="" kay-nav-category-item>v0.0.9</a>
                <a routerLink="" kay-nav-category-item>v0.0.8</a>
                <a routerLink="" kay-nav-category-item>v0.0.7</a>
                <a routerLink="" kay-nav-category-item>v0.0.6</a>
                <a routerLink="" kay-nav-category-item>v0.0.5</a>
            </kay-nav-category>
        </div>
        <div class="sys-header-nav-theme-button">
            <mat-slide-toggle aria-label="Alterar tema"></mat-slide-toggle>
        </div>
            <ul class="sys-header-nav-social-area">
            <li>
                <a href="">
                    <img src="social-icons/github.svg">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="social-icons/linkedIn.svg">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="social-icons/x.svg">
                </a>
            <li>
        </ul>
    </nav>
</div>
