<div class="sys-header">
    <div class="sys-header-content">
        <div class="sys-header-content-toggle-sys-sidenav">
            <button mat-icon-button (click)="toggleSystemSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <span class="sys-header-content-brand" aria-hidden="true"
            >Kayro UI</span
        >

        <menu class="sys-header-content-menu">
            <nav class="sys-header-content-menu-nav">
                <kay-header-navigation></kay-header-navigation>
            </nav>

            <section class="sys-header-content-menu-theme-button">
                <kay-menu-toggle-theme></kay-menu-toggle-theme>
            </section>

            <section class="sys-header-content-menu-social-area">
                <kay-menu-social></kay-menu-social>
            </section>

            <section class="sys-header-content-menu-collapsed">
                <button mat-icon-button [matMenuTriggerFor]="collapsedMenu">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #collapsedMenu>
                    <kay-menu-collapsed></kay-menu-collapsed>
                </mat-menu>
            </section>
        </menu>
    </div>
</div>
