<div class="nav-category"
     (mouseover)="openItemsList()"
     (mouseleave)="closeItemsList()"
     (click)="toggleItemsList()">

    <button class="nav-category-name" aria-expanded="true">
        {{ name }}
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
            <path d="M1 1L5 5L9 1" stroke="#EDE0D4" stroke-linecap="round"/>
        </svg>
    </button>

    <ul class="nav-category-list"
        [ngClass]="{ isHidden }">

        @for (item of itens; track item) {
            <li class="nav-category-list-item">
                <a [routerLink]="item.routerTo">{{ item.name }}</a>
            </li>
        }
    </ul>
</div>
