.kay-header-nav-category-item {
    display: block;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 8px;

    &:hover {
        transition: 0.3s;
        color: var(--kay-sys-color-primary);
        opacity: 0.8;
    }
}
