.kay-ui-demos {
    animation: appear-growing linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    &-description {
        text-align: center;
    }

    &-showcase {
        width: 100%;
        height: auto;
        padding: 64px;
        background-color: #000000;
        border-radius: var(--medium-border-radius);
        margin-top: 40px;
    }
}
