.kay-ui-demos {
    &__description,
    &__title {
        animation: appear-growing linear;
        animation-range: entry 0% cover 30%;
        animation-timeline: view();
        text-align: center;
    }
}

.showcase {
    display: block;
    margin-top: 40px;
}
