<div class="wall">
    <p class="wall__title">Grude suas figurinhas aqui!</p>
    <div class="inventory">
        <img
            cdkDrag
            class="sticker"
            cdkDragBoundary=".drag-container"
            ngSrc="images/stickers/borboletas.png"
            height="512"
            width="512"
            alt=""
        />
        <img
            cdkDrag
            class="sticker"
            cdkDragBoundary=".drag-container"
            ngSrc="images/stickers/estrela.png"
            height="512"
            width="512"
            alt=""
        />
        <img
            cdkDrag
            class="sticker"
            cdkDragBoundary=".drag-container"
            ngSrc="images/stickers/girassois.png"
            height="512"
            width="512"
            alt=""
        />
        <img
            cdkDrag
            class="sticker"
            cdkDragBoundary=".drag-container"
            ngSrc="images/stickers/paz.png"
            height="512"
            width="512"
            alt=""
        />
    </div>
</div>
