<div class="showcase">
    <section class="showcase-intro">
        <div class="showcase-intro-content">
            <h1 class="showcase-intro-content-title">Kayro UI</h1>
            <p class="showcase-intro-content-subtitle">Construa sites incríveis!</p>
            <p class="showcase-intro-content-description">
                Experimente nosso componentes personalizados e crie interfaces incríveis e elegante!
            </p>

            <div class="showcase-intro-content-buttons">
                <button mat-flat-button class="gradient-button">Começe a usar</button>
                <button mat-button>Por que Kayro UI?</button>
                <button mat-button>Componentes</button>
            </div>
        </div>
        <div class="showcase-intro-brand">
            <img src="brand.svg">
            <img class="showcase-intro-brand-shine" src="decorators/shine.svg">
        </div>
    </section>
</div>
