@use 'utils/mixins' as *;

.showcase {
    max-width: var(--system-max-width);
    display: grid;
    margin: auto;
    gap: 128px;

    &-intro {
        margin-top: calc(var(--system-header-height) * 2);
    }

    @include responsive-device('mobile') {
        gap: 64px;
    }
}
