<div class="showcase">
    <section class="showcase-intro">
        <div class="showcase-intro-content">
            <h1 class="showcase-intro-content-title">Kayro UI</h1>
            <p class="showcase-intro-content-subtitle">Construa sites incríveis!</p>
            <p class="showcase-intro-content-description">
                Experimente nossos componentes personalizados e crie interfaces incríveis e elegante!
            </p>

            <div class="showcase-intro-content-buttons">
                <button mat-flat-button class="gradient-button">Começe a usar</button>
                <button mat-button>Por que Kayro UI?</button>
                <button mat-button>Componentes</button>
            </div>
        </div>
        <div class="showcase-intro-brand">
            <img ngSrc="/brand.svg" alt="marca Kayro UI" aria-hidden="true" height="264" width="400">
            <img class="showcase-intro-brand-shine" ngSrc="/decorators/shine.svg" alt="" aria-hidden="true" height="673"
                 width="673">
        </div>
    </section>
    <section>
        <kay-ui-features></kay-ui-features>
    </section>
</div>
