<div class="kay-ui-features">
    <ul class="kay-ui-features-list">
        <li class="kay-ui-features-list-item">
            <span class="kay-ui-features-list-item-icon">📦</span>
            <h4 class="kay-ui-features-list-item-title">Componentes prontos</h4>
            <p class="kay-ui-features-list-item-description">
                Desenvolvido totalmente com TypeScript.
            </p>
        </li>
        <li class="kay-ui-features-list-item">
            <span class="kay-ui-features-list-item-icon">🎨</span>
            <h4 class="kay-ui-features-list-item-title">
                Totalmente tematizável
            </h4>
            <p class="kay-ui-features-list-item-description">
                Adapte cores, fontes e estilos com facilidade para manter a
                identidade visual da sua marca.
            </p>
        </li>
        <li class="kay-ui-features-list-item">
            <span class="kay-ui-features-list-item-icon">🎯</span>
            <h4 class="kay-ui-features-list-item-title">
                Foco em acessibilidade
            </h4>
            <p class="kay-ui-features-list-item-description">
                Todos os componentes seguem boas práticas de acessibilidade para
                entregar uma experiência inclusiva.
            </p>
        </li>
        <li class="kay-ui-features-list-item">
            <div>
                <span class="kay-ui-features-list-item-icon">🚀</span>
                <h4 class="kay-ui-features-list-item-title">
                    Estrutura pensada para escala
                </h4>
                <p class="kay-ui-features-list-item-description">
                    Organização de código limpa, modular e escalável (ideal para
                    projetos pequenos ou grandes).
                </p>
            </div>
            <div class="code-decorator">
                <mat-icon>code</mat-icon>
            </div>
        </li>
        <li class="kay-ui-features-list-item">
            <span class="kay-ui-features-list-item-icon">⚡</span>
            <h4 class="kay-ui-features-list-item-title">
                Desempenho otimizado
            </h4>
            <p class="kay-ui-features-list-item-description">
                Componentes otimizados para renderizar de forma rápida, fluida e
                sem sobrecarregar sua aplicação.
            </p>
        </li>
    </ul>
</div>
