@use 'utils/mixins' as *;

.kay-ui-features {
    &-list {
        display: flex;
        justify-items: start;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;

        &-item {
            width: 340px;
            list-style: none;
            background-color: var(--kay-sys-color-surface-container);
            border-radius: var(--medium-border-radius);
            transition: 0.2s;
            padding: 24px;
            cursor: pointer;

            &-icon {
                background-color: var(--kay-sys-color-surface-bright);
                border-radius: var(--low-border-radius);
                user-select: none;
                display: inline-block;
                font-size: 1.5rem;
                transition: 0.2s;
                padding: 8px;
            }

            &-title {
                font-size: 1.125rem;
                margin-top: 16px;
                margin-bottom: 0;
            }

            &-description {
                max-width: 50ch;
                font-size: 0.875rem;
                color: var(--kay-sys-color-on-surface-variant);
            }

            .code-decorator {
                display: none;
            }

            &:hover {
                background-color: var(--kay-sys-color-surface-bright);
                border: 1px solid var(--kay-sys-color-outline-variant);
                padding-top: 12px;
                scale: 1.05;

                .kay-ui-features-list-item-icon {
                    font-size: 3em;
                    padding: 0;
                }
            }
        }
    }

    @include responsive-device('desktop') {
        &-list {
            &-item {
                &:nth-child(4) {
                    width: 710px;
                    display: flex;
                    justify-content: space-between;

                    .code-decorator {
                        display: block;
                    }

                    .mat-icon {
                        width: auto;
                        height: auto;
                        font-size: 10rem;
                        background: linear-gradient(
                            115deg,
                            var(--kay-sys-color-surface-container) 0%,
                            var(--kay-sys-color-surface-bright) 100%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    @include responsive-device('laptop') {
        &-list {
            justify-content: center;
        }
    }

    @include responsive-device('tablet') {
        &-list {
            &-item {
                width: 100%;
            }
        }
    }
}
