<div class="kay-ui-intro">
    <div class="kay-ui-intro-content">
        <h1 class="kay-ui-intro-content-title">Kayro UI</h1>
        <p class="kay-ui-intro-content-subtitle">Construa sites incríveis!</p>
        <p class="kay-ui-intro-content-description">
            Experimente nossos componentes personalizados e crie interfaces
            incríveis e elegante!
        </p>

        <div class="kay-ui-intro-content-buttons">
            <button mat-flat-button class="gradient-button">
                Começe a usar
            </button>
            <button mat-button>Por que Kayro UI?</button>
            <button mat-button>Componentes</button>
        </div>
    </div>
    <div class="kay-ui-intro-brand">
        <img
            ngSrc="/brand.svg"
            alt="marca Kayro UI"
            aria-hidden="true"
            height="264"
            width="400"
        />
        <img
            class="kay-ui-intro-brand-shine"
            ngSrc="/decorators/shine.svg"
            alt=""
            aria-hidden="true"
            height="673"
            width="673"
        />
    </div>
</div>
