.welcome {
    margin: auto;
    width: fit-content;
    padding: 32px;

    &__title,
    &__message {
        margin: 0;
        width: fit-content;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__message {
        font-size: 1.25rem;
    }
}
