.welcome {
    margin: auto;
    width: fit-content;
    padding: 32px;

    &__title,
    &__message {
        margin: 0;
        width: fit-content;
        animation: blur-fade-in 1s infinite;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__message {
        font-size: 1.25rem;
    }
}

@keyframes blur-fade-in {
    from {
        filter: blur(16px);
    }

    to {
        filter: blur(0);
    }
}
