@use 'sass:map';

$colors-roles: (
    primary: #f24405,
    surface-tint: #ffb5a0,
    on-primary: #561f0f,
    primary-container: #723523,
    on-primary-container: #ffdbd1,
    secondary: #e7bdb2,
    on-secondary: #442a22,
    secondary-container: #5d4037,
    on-secondary-container: #ffdbd1,
    tertiary: #d9c58d,
    on-tertiary: #3b2f05,
    tertiary-container: #534619,
    on-tertiary-container: #f6e1a6,
    error: #f4bd6f,
    on-error: #452b00,
    error-container: #633f00,
    on-error-container: #ffddb3,
    background: #1a110f,
    on-background: #f1dfda,
    surface: #18120b,
    on-surface: #ede0d4,
    surface-variant: #53433f,
    on-surface-variant: #d8c2bc,
    outline: #a08c87,
    outline-variant: #53433f,
    shadow: #000000,
    scrim: #000000,
    inverse-surface: #ede0d4,
    inverse-on-surface: #362f27,
    inverse-primary: #8f4b38,
    primary-fixed: #ffdbd1,
    on-primary-fixed: #3a0b01,
    primary-fixed-dim: #ffb5a0,
    on-primary-fixed-variant: #723523,
    secondary-fixed: #ffdbd1,
    on-secondary-fixed: #2c150f,
    secondary-fixed-dim: #e7bdb2,
    on-secondary-fixed-variant: #5d4037,
    tertiary-fixed: #f6e1a6,
    on-tertiary-fixed: #231b00,
    tertiary-fixed-dim: #d9c58d,
    on-tertiary-fixed-variant: #534619,
    surface-dim: #18120b,
    surface-bright: #3f3830,
    surface-container-lowest: #120d07,
    surface-container-low: #201b13,
    surface-container: #251f17,
    surface-container-high: #2f2921,
    surface-container-highest: #3b342b,
);

@mixin colors-variables {
    & {
        --kay-sys-color-primary: #{map.get($colors-roles, primary)};
        --kay-sys-color-surface-tint: #{map.get($colors-roles, surface-tint)};
        --kay-sys-color-on-primary: #{map.get($colors-roles, on-primary)};
        --kay-sys-color-primary-container: #{map.get(
                $colors-roles,
                primary-container
            )};
        --kay-sys-color-on-primary-container: #{map.get(
                $colors-roles,
                on-primary-container
            )};
        --kay-sys-color-secondary: #{map.get($colors-roles, secondary)};
        --kay-sys-color-on-secondary: #{map.get($colors-roles, on-secondary)};
        --kay-sys-color-secondary-container: #{map.get(
                $colors-roles,
                secondary-container
            )};
        --kay-sys-color-on-secondary-container: #{map.get(
                $colors-roles,
                on-secondary-container
            )};
        --kay-sys-color-tertiary: #{map.get($colors-roles, tertiary)};
        --kay-sys-color-on-tertiary: #{map.get($colors-roles, on-tertiary)};
        --kay-sys-color-tertiary-container: #{map.get(
                $colors-roles,
                tertiary-container
            )};
        --kay-sys-color-on-tertiary-container: #{map.get(
                $colors-roles,
                on-tertiary-container
            )};
        --kay-sys-color-error: #{map.get($colors-roles, error)};
        --kay-sys-color-on-error: #{map.get($colors-roles, on-error)};
        --kay-sys-color-error-container: #{map.get(
                $colors-roles,
                error-container
            )};
        --kay-sys-color-on-error-container: #{map.get(
                $colors-roles,
                on-error-container
            )};
        --kay-sys-color-background: #{map.get($colors-roles, background)};
        --kay-sys-color-on-background: #{map.get($colors-roles, on-background)};
        --kay-sys-color-surface: #{map.get($colors-roles, surface)};
        --kay-sys-color-on-surface: #{map.get($colors-roles, on-surface)};
        --kay-sys-color-surface-variant: #{map.get(
                $colors-roles,
                surface-variant
            )};
        --kay-sys-color-on-surface-variant: #{map.get(
                $colors-roles,
                on-surface-variant
            )};
        --kay-sys-color-outline: #{map.get($colors-roles, outline)};
        --kay-sys-color-outline-variant: #{map.get(
                $colors-roles,
                outline-variant
            )};
        --kay-sys-color-shadow: #{map.get($colors-roles, shadow)};
        --kay-sys-color-scrim: #{map.get($colors-roles, scrim)};
        --kay-sys-color-inverse-surface: #{map.get(
                $colors-roles,
                inverse-surface
            )};
        --kay-sys-color-inverse-on-surface: #{map.get(
                $colors-roles,
                inverse-on-surface
            )};
        --kay-sys-color-inverse-primary: #{map.get(
                $colors-roles,
                inverse-primary
            )};
        --kay-sys-color-primary-fixed: #{map.get($colors-roles, primary-fixed)};
        --kay-sys-color-on-primary-fixed: #{map.get(
                $colors-roles,
                on-primary-fixed
            )};
        --kay-sys-color-primary-fixed-dim: #{map.get(
                $colors-roles,
                primary-fixed-dim
            )};
        --kay-sys-color-on-primary-fixed-variant: #{map.get(
                $colors-roles,
                on-primary-fixed-variant
            )};
        --kay-sys-color-secondary-fixed: #{map.get(
                $colors-roles,
                secondary-fixed
            )};
        --kay-sys-color-on-secondary-fixed: #{map.get(
                $colors-roles,
                on-secondary-fixed
            )};
        --kay-sys-color-secondary-fixed-dim: #{map.get(
                $colors-roles,
                secondary-fixed-dim
            )};
        --kay-sys-color-on-secondary-fixed-variant: #{map.get(
                $colors-roles,
                on-secondary-fixed-variant
            )};
        --kay-sys-color-tertiary-fixed: #{map.get(
                $colors-roles,
                tertiary-fixed
            )};
        --kay-sys-color-on-tertiary-fixed: #{map.get(
                $colors-roles,
                on-tertiary-fixed
            )};
        --kay-sys-color-tertiary-fixed-dim: #{map.get(
                $colors-roles,
                tertiary-fixed-dim
            )};
        --kay-sys-color-on-tertiary-fixed-variant: #{map.get(
                $colors-roles,
                on-tertiary-fixed-variant
            )};
        --kay-sys-color-surface-dim: #{map.get($colors-roles, surface-dim)};
        --kay-sys-color-surface-bright: #{map.get(
                $colors-roles,
                surface-bright
            )};
        --kay-sys-color-surface-container-lowest: #{map.get(
                $colors-roles,
                surface-container-lowest
            )};
        --kay-sys-color-surface-container-low: #{map.get(
                $colors-roles,
                surface-container-low
            )};
        --kay-sys-color-surface-container: #{map.get(
                $colors-roles,
                surface-container
            )};
        --kay-sys-color-surface-container-high: #{map.get(
                $colors-roles,
                surface-container-high
            )};
        --kay-sys-color-surface-container-highest: #{map.get(
                $colors-roles,
                surface-container-highest
            )};
    }
}
