$colors-roles: (
    primary: #F24405,
    surface-tint: #FFB5A0,
    on-primary: #561F0F,
    primary-container: #723523,
    on-primary-container: #FFDBD1,
    secondary: #E7BDB2,
    on-secondary: #442A22,
    secondary-container: #5D4037,
    on-secondary-container: #FFDBD1,
    tertiary: #D9C58D,
    on-tertiary: #3B2F05,
    tertiary-container: #534619,
    on-tertiary-container: #F6E1A6,
    error: #F4BD6F,
    on-error: #452B00,
    error-container: #633F00,
    on-error-container: #FFDDB3,
    background: #1A110F,
    on-background: #F1DFDA,
    surface: #18120B,
    on-surface: #EDE0D4,
    surface-variant: #53433F,
    on-surface-variant: #D8C2BC,
    outline: #A08C87,
    outline-variant: #53433F,
    shadow: #000000,
    scrim: #000000,
    inverse-surface: #EDE0D4,
    inverse-on-surface: #362F27,
    inverse-primary: #8F4B38,
    primary-fixed: #FFDBD1,
    on-primary-fixed: #3A0B01,
    primary-fixed-dim: #FFB5A0,
    on-primary-fixed-variant: #723523,
    secondary-fixed: #FFDBD1,
    on-secondary-fixed: #2C150F,
    secondary-fixed-dim: #E7BDB2,
    on-secondary-fixed-variant: #5D4037,
    tertiary-fixed: #F6E1A6,
    on-tertiary-fixed: #231B00,
    tertiary-fixed-dim: #D9C58D,
    on-tertiary-fixed-variant: #534619,
    surface-dim: #18120B,
    surface-bright: #3F3830,
    surface-container-lowest: #120D07,
    surface-container-low: #201B13,
    surface-container: #251F17,
    surface-container-high: #2F2921,
    surface-container-highest: #3B342B,
);

@mixin variables {
    --dynamic-color-test: lightblue;
}

