$colors: (
    primary: #F24405,
    surface-tint: #8F4B38,
    on-primary: #FFFFFF,
    primary-container: #FFDBD1,
    on-primary-container: #3A0B01,
    secondary: #77574E,
    on-secondary: #FFFFFF,
    secondary-container: #FFDBD1,
    on-secondary-container: #2C150F,
    tertiary: #6C5D2F,
    on-tertiary: #FFFFFF,
    tertiary-container: #F6E1A6,
    on-tertiary-container: #231B00,
    error: #805610,
    on-error: #FFFFFF,
    error-container: #FFDDB3,
    on-error-container: #291800,
    background: #FFF8F6,
    on-background: #231917,
    surface: #FFF8F4,
    on-surface: #201B13,
    surface-variant: #F5DED8,
    on-surface-variant: #53433F,
    outline: #85736E,
    outline-variant: #D8C2BC,
    shadow: #000000,
    scrim: #000000,
    inverse-surface: #362F27,
    inverse-on-surface: #FCEFE2,
    inverse-primary: #FFB5A0,
    primary-fixed: #FFDBD1,
    on-primary-fixed: #3A0B01,
    primary-fixed-dim: #FFB5A0,
    on-primary-fixed-variant: #723523,
    secondary-fixed: #FFDBD1,
    on-secondary-fixed: #2C150F,
    secondary-fixed-dim: #E7BDB2,
    on-secondary-fixed-variant: #5D4037,
    tertiary-fixed: #F6E1A6,
    on-tertiary-fixed: #231B00,
    tertiary-fixed-dim: #D9C58D,
    on-tertiary-fixed-variant: #534619,
    surface-dim: #E4D8CC,
    surface-bright: #FFF8F4,
    surface-container-lowest: #FFFFFF,
    surface-container-low: #FFF1E5,
    surface-container: #F9ECDF,
    surface-container-high: #F3E6DA,
    surface-container-highest: #EDE0D4,
);
