@use 'utils/mixins' as *;

.system {
    height: 100%;

    &-sidenav {
        width: 300px;

        @include responsive-device('tablet') {
            width: 100%;
        }
    }

    &-content {
        &-main {
            overflow-x: clip;
        }
    }
}
