@use 'utils/mixins' as *;

.system {
    height: 100%;

    &-sidenav {
        width: 300px;

        @include responsive-device('tablet') {
            width: 100%;
        }
    }

    &-content {
        &-header {
            position: fixed;
            z-index: 999;
            width: 100%;
        }

        &-main {
            overflow-x: clip;
            padding: 40px;
        }
    }
}
