<mat-sidenav-container class="system">
    <mat-sidenav class="system-sidenav" mode="side" #systemSidenav>
        <kay-sys-sidenav [systemSidenav]="systemSidenav"></kay-sys-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="system-content">
        <header
            kay-sys-header
            class="system-content-header"
            [systemSidenav]="systemSidenav"
        ></header>
        <main class="system-content-main">
            <router-outlet></router-outlet>
        </main>
        <footer kay-sys-footer class="system-content-footer"></footer>
    </mat-sidenav-content>
</mat-sidenav-container>
