<div class="sys-sidenav">
    <button mat-icon-button (click)="toggleSystemSidenav()">
        <mat-icon>close</mat-icon>
    </button>

    <mat-accordion class="sys-sidenav-navigation" multi>
        @for (category of systemNavigationCategories; track category) {
            <mat-expansion-panel class="sys-sidenav-navigation-item">
                <mat-expansion-panel-header class="sys-sidenav-navigation-dropdown-toggle">
                    <mat-panel-title>{{ category.title }}</mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="sys-sidenav-navigation-item-dropped-list">
                    @for (categoryItem of category.items; track categoryItem) {
                        <li><a [routerLink]="categoryItem.route">{{ categoryItem.name }}</a></li>
                    }
                </ul>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>
