<div class="showcase-backdrop">
    @if (hideWatermark()) {
        <img
            class="showcase-backdrop__brand"
            ngSrc="brand.svg"
            height="264"
            width="400"
            alt=""
        />
    }
</div>
<div class="showcase-container">
    <button
        mat-icon-button
        class="showcase-container__refresh-button"
        matTooltip="Recarregar exibição"
        [matTooltipShowDelay]="1000"
        (click)="reload()"
    >
        <mat-icon>refresh</mat-icon>
    </button>

    @if (isLoaded) {
        <ng-content></ng-content>
    }
</div>
