.showcase-container {
    width: 100%;
    height: fit-content;
    background-color: var(--kay-sys-color-black);
    border-radius: var(--medium-border-radius);
    position: relative;
    padding: 64px;

    &__refresh-button {
        position: absolute;
        right: 24px;
        top: 24px;
    }
}
