@use '@angular/material' as mat;
@use 'app/styles/global/_module' as global;
@use 'app/styles/themes/_module' as themes;
@use 'app/styles/utils/_module' as utils;
@use 'app/styles/overwrite/_module';

:root {
    .dark-theme {
        @include mat.theme(
            (
                color: (
                    theme-type: dark,
                ),
                typography: Inter,
                density: 0,
            )
        );

        @include mat.theme-overrides(themes.$dark-theme-colors-roles);
        @include themes.dark-theme-colors-variables();
    }

    .light-theme {
        @include mat.theme(
            (
                color: (
                    theme-type: light,
                ),
                typography: Inter,
                density: 0,
            )
        );

        @include mat.theme-overrides(themes.$light-theme-colors-roles);
        @include themes.light-theme-colors-variables;
    }

    @include global.variables-references();
}

* {
    box-sizing: border-box;
    font-family: Inter, 'Arial', sans-serif;
    color: var(--kay-sys-color-on-surface);
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: var(--kay-sys-color-surface);
}
