@use '@angular/material' as mat;
@use 'app/styles/themes/dark-theme' as dark-theme;

html {
    @include mat.theme((
        color: (
            theme-type: dark,
        ),
        typography: Roboto,
        density: 0,
    ));
    @include mat.theme-overrides(dark-theme.$colors);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
