@use 'utils/mixins' as *;

.kay-ui-compatibility {
    margin: auto;

    animation: appear-growing linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    &-description {
        text-align: center;
        color: var(--kay-sys-color-on-surface-variant);
    }

    &-frameworks-list {
        display: flex;
        gap: 80px;
        margin-top: 64px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;

        &-item {
            display: grid;
            gap: 16px;
            list-style: none;

            img {
                background-color: var(--kay-sys-color-surface-container);
                border-radius: var(--hight-border-radius);
                padding: 32px;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background-color: var(--kay-sys-color-surface-bright);
                    scale: 1.05;
                }
            }

            span {
                text-align: center;
                font-size: 2rem;
                opacity: 0.6;
            }
        }
    }

    @include responsive-device('laptop') {
        &-frameworks-list {
            gap: 40px;
        }
    }
}
