<div class="kay-ui-compatibility">
    <h2 class="kay-ui-compatibility-title">
        Funciona com a sua estrutura favorita<span>.</span>
    </h2>
    <p class="kay-ui-compatibility-description">
        Seja você um desenvolvedor Angular, React ou Vue, o Kayro UI se encaixa
        naturalmente no seu fluxo de trabalho. Com componentes consistentes e
        interfaces flexíveis, oferecemos uma base sólida para projetos de
        qualquer stack.
    </p>
    <ul
        class="kay-ui-compatibility-frameworks-list"
        aria-label="Lista de frameworks compatíveis"
    >
        <li class="kay-ui-compatibility-frameworks-list-item">
            <img
                ngSrc="/icons/vue-icon.svg"
                alt="Vue"
                height="200"
                width="200"
                aria-hidden="true"
            />
            <span>Vue</span>
        </li>
        <li class="kay-ui-compatibility-frameworks-list-item">
            <img
                ngSrc="/icons/angular-icon.svg"
                alt="Angular"
                height="200"
                width="200"
                aria-hidden="true"
            />
            <span>Angular</span>
        </li>
        <li class="kay-ui-compatibility-frameworks-list-item">
            <img
                ngSrc="/icons/react-icon.svg"
                alt="React"
                height="200"
                width="200"
                aria-hidden="true"
            />
            <span>React</span>
        </li>
    </ul>
</div>
